<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsify@4/lib/themes/vue.css">
  <link rel="stylesheet" href="/simtalk-docs/assets/style.css" />
  <link rel="stylesheet" href="/assets/style.css" />
  <link rel="shortcut icon" href="_media/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="_media/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div id="app"></div>
  <script>
    window.$docsify = {
      name: '{{ APP_NAME }}',
      loadSidebar: true,
      logo: '/_media/_logo_alt.png',
      coverpage: true,
      onlyCover: true,
      auto2top: true,
      autoHeader: false,
      subMaxLevel: 3,
      maxLevel: 4,
      search: {
        maxAge: 86400000, // Expiration time, the default one day
        paths: 'auto',
        placeholder: 'Buscar',
        noData: 'No Results.'
      },
      mustache: {
        data: ['./settings.json']
      }
    }
  </script>
  <!-- Docsify v4 -->
  <script src="//cdn.jsdelivr.net/npm/docsify/lib/docsify.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify-plugin-flexible-alerts"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify-mustache"></script>
  <script src="//unpkg.com/docsify/lib/plugins/search.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify/lib/plugins/front-matter.min.js"></script>
</body>

</html>